.title{
    width: 100%;
}
.black{
    background: black;
}
.red{
    background: red;
}
.green{
    background:green;
}
.blue{
    background:blue;
}
.yellow{
    background:yellow;
}
.brown{
    background:brown;
}
*{
    font-family: 'Ink Free', Courier, monospace;
    font-weight: bold;
}
