.black{
    background: black;
}
.red{
    background: red;
}
.green{
    background:green;
}
.blue{
    background:blue;
}
.yellow{
    background:yellow;
}
.brown{
    background:brown;
}
.fontEspecial{
    font-family: 'Ink Free', Courier, monospace;
}
.font{
    font-family: 'Alike', serif, monospace;

}